<div class="windows_separator">
	<header>Inahlt</header>
	<div class="justify">
		<aside>
			<mat-list role="list">
				<div mat-subheader>Schulen</div>
				<ng-container *ngFor="let school of schools">
					<mat-list-item (click)="onClickMarker(school)">
						<mat-icon matListItemIcon>school</mat-icon>
						<div matListItemTitle>{{school.name}}</div>
						<div matListItemLine>{{school.adresse}}</div>
					</mat-list-item>
					<mat-divider></mat-divider>
				</ng-container>
			</mat-list>
		</aside>
		<div class="map" leaflet
		     [leafletOptions]="options"
		     [leafletLayers]="layers"
		     (leafletMapReady)="onMapReady($event)">
		</div>
	</div>
</div>
