.windows_separator {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.justify {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  min-height: 5em;
  background-color: #323232;

}

header {
  min-height: 4em;
  background-color: #49925a;
}

.map {
  flex-grow: 1;
}

aside {
  min-width: max-content;
  overflow: auto;
}
.mat-mdc-subheader {
  color: white;
  font-size: 15pt;
}
.mat-mdc-list-item:hover {
  background-color: #1E1E1EFF;
}
.mat-mdc-list-item-title {
    color: white !important;
    font-size: 12pt;
  }
.mat-mdc-list-item-line {
  color: white;
  font-size: 8pt;
}
.mat-mdc-list-item-icon{
  color: white !important;
}
