header {
  min-height: 4em;
  background-color: #49925a;
  display: flex;
  flex-direction: row;
  padding: 0 2em;
  align-items: center;
}

h1 {
  color: white;
  margin-left: 20px;
}

.icon {
  color: white;
}

.spacer {
  flex-grow: 1;
}

.select-room {
  width: 100%;
  display: flex;
  flex-direction: row;

  justify-content: center;
}

.room-continue {
  cursor: pointer !important;
}

.chart {
  min-width: 18em;
  min-height: 18em;
  flex-grow: 1;
  align-self: stretch;
}